
:root {
    --font-family: "Jersey 10", sans-serif;
    --font-size-root: 62.5%; /* (10px) for easier rem calculation*/
    --font-size-reguler: 2rem; /* (20px) actual font size */
    --font-size-title: 5.2rem;
    --font-size-title-sub: 3rem;
    --line-height-reguler: 2rem;
    --line-height-title: 4.4rem;
    --line-height-title-sub: 3.2rem;

    --color-main: #323d39;
    --color-main-bg: #dce0d0;
    --color-menu-bg: #d2ddc4;
    --color-light: #e6e9e0;
    --color-yellow: #d9dd8b;
    --color-dim: #727574;
    --color-shadow: #0000005d;
    --color-btn-bg: #3a484f;

    --margin-main: 2.8rem;
    --margin-btwn-sect: 1.2rem;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
    font-size: var(--font-size-root);
    text-wrap: wrap;
}

body,
p {
    padding: 0;
    margin: 0;
}

body {
    margin: 4rem auto;
    width: fit-content;
    font-size: var(--font-size-reguler);
    color: var(--color-main);
    background: var(--color-main-bg);
    line-height: var(--line-height-reguler);
    background-color: var(--color-main-bg);
}

input[type="text"] {
    font-size: var(--font-size);
    color: var(--color-main);
    background-color: #d3ddc4;
    border: 1px var(--color-main-bg) solid;
    border-radius: 4px;
    padding: 0 1rem;
}

::placeholder {
    font-family: var(--font-family);
    font-size: 1.2rem;
    color: var(--color-main);
    opacity: 0.5;
}